:root {
  --primary: #5ece7b;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem 6rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  grid-gap: 4rem;
}
.loader {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  display: flex;
  align-items: center;
}
.nav-element {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav-element:first-child {
  justify-content: unset;
  align-items: center;
}
.nav-element:first-child > span {
  margin-right: 3rem;
  margin-bottom: 0.3rem;
}

.nav-element:last-child > div {
  margin-left: auto;
  width: 4rem;
  justify-content: space-between;
}
.category {
  text-transform: uppercase;
  text-align: center;
}
.active {
  color: var(--primary);
  margin-bottom: unset !important;
}
.active::after {
  content: "";
  display: block;
  width: 6em;
  border-bottom: 0.3em solid var(--primary);
  transform: translateY(2rem);
}
.actions {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.cart-logo {
  height: 1.2rem;
}
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2.5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg) translateY(-3px);
  -webkit-transform: rotate(45deg) translateY(-3px);
}
.currency-icon {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 2rem;
  cursor: pointer;
}

.currencies-list {
  display: flex;
  list-style-type: none;
  height: 9rem;
  padding: 0 2rem;
  position: absolute;
  margin: 1rem -2rem;
  box-shadow: 0px 4px 35px rgb(168 172 176 / 19%);
  flex-direction: column;
  justify-content: space-around;
}
.currency-item {
  cursor: pointer;
}
.product-listing {
  height: -webkit-fill-available;
}